@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

html,body{
 font-family: 'Roboto Condensed';
	width:100%;
	height:100%;
	color: white;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#000000;
	display:block;

	font-weight:bold;
	-webkit-transition: all .1s ease-in-out;

}
.navigation li:hover,.active{
	
	cursor:pointer;

}
.envatologo{
position:fixed;
top:50%;
left:50%;
width:446px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	left: 0 !important;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	height:1000px;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background: url(../images/absoul.jpg) center 0  no-repeat fixed ;
		background-size: 100%;

	height:1300px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background: url(../images/walkthemoon.jpg) center 0  no-repeat fixed ;
	background-size: 100%;
	height: 1300px; 
}

/******************************
 SLIDE 3b
*******************************/
#slide3b{
	background: url(../images/2chainz1.jpg) center 0  no-repeat fixed ;
	background-size: 100%;
	height: 1300px; 
}

/******************************
 SLIDE 3c
*******************************/
#slide3c{
	background: url(../images/RickRoss.jpg) center 0  no-repeat fixed ;
	background-size: 100%;
	height: 1300px; 
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../images/musiq.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 1000px;

}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
/******************************
 SLIDE 5 
*******************************/

#slide5{
	background-image:url(../images/wheel.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 1000px;

}
#slide5 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
/******************************
 SLIDE 6 
*******************************/

#slide6{
	background-image:url(../images/thirdBG.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 1000px;

}
#slide6 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
/******************************
 SLIDE 7
*******************************/

#slide7{
	background-image:url(../images/oceanBackground.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 1000px;

}
#slide7 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}
/******************************
 SLIDE 8 
*******************************/

#slide8{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
		height: 300px;

}
#slide8 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}


.float-left{
	background-color: rgba(0, 0, 0, 0.8);
	width: 843px;
	height: 500;
	padding: 25px;
	margin-top: 157px;
	left: 10px !important;
	float:left;
	color: white;
}

.float-left2{
	background-color: rgba(0, 0, 0, 0.8);
	
	height: 500;
	padding: 25px;
	margin-top: 157px; 
	left: 0px;
	float:left;
	color: white;
}

.float-left > h2, .float-left2 > h2{
	font-family: "Lobster";
}

li{
	list-style: initial;
}